
#header-section {
    margin: 2% 0 0 0;
    text-align: center;
}

#wallet-setup-section {
    margin: 10% 0 0 0;
}

.wallet-labels {
    margin: 40px 0 0 0;
    font-weight: bold;
}

form label {
    margin: 0 10px 0 0;
}

